:root {
  --header-h: 5rem;
  --grid-gap: 0.5rem;
  --gutter: 1rem;
  --viewport: calc(100vw - var(--scrollbar-gutter, 0px));

  @screen sm {
    --gutter: 1.25rem;
    --grid-gap: 0.8rem;
  }

  @screen md {
    --grid-gap: 1rem;
    --gutter: 1.5rem;
  }

  @screen lg {
    --grid-gap: 1.75rem;
    --gutter: 2.5rem;
  }
}
