.clip-hover {
  @apply relative inline-flex items-center text-transparent;

  line-height: 1;
  background-image: linear-gradient(
    to top,
    theme('colors.white') 0%,
    theme('colors.white') 50%,
    theme('colors.red') 50%,
    theme('colors.red') 100%
  );
  background-size: 100% 200%;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: background-position theme('transitionDuration.clip')
    theme('transitionTimingFunction.clip');
  background-clip: text;
  -webkit-background-clip: text;

  @screen mouse {
    &:hover {
      background-position: 0 100%;
    }
  }

  &.active::before {
    @apply content-[''] absolute right-full mr-[0.1em] sm:mr-[0.15em] md:mr-[0.25em] bg-red rounded-full size-[0.25em];
  }

  &.current {
    background-position: 0 100%;
  }

  &--white {
    background-position: 0 100%;

    &:hover {
      background-position: 0 0;
    }
  }
}
