.clip-hover {
  @apply relative inline-block text-transparent;

  line-height: 1;
  background-image: linear-gradient(
    to top,
    theme('colors.white') 0%,
    theme('colors.white') 50%,
    theme('colors.red') 50%,
    theme('colors.red') 100%
  );
  background-size: 100% 200%;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: background-position theme('transitionDuration.clip')
    theme('transitionTimingFunction.clip');
  background-clip: text;
  -webkit-background-clip: text;

  @screen mouse {
    &:hover {
      background-position: 0 100%;
    }
  }

  &.active::before {
    clip-path: inset(0 0 0 0);
  }

  &--white {
    background-position: 0 100%;

    &:hover {
      background-position: 0 0;
    }
  }

  &::before {
    clip-path: inset(0 100% 0 0);
    content: '';
    position: absolute;
    inset: 0.12em 0.08em;
    background-color: theme('colors.black.DEFAULT');
    z-index: -1;
    transition: clip-path theme('transitionDuration.clip')
      theme('transitionTimingFunction.clip');
  }
}
