:root {
  --button-text-color: theme('colors.white');
  --button-text-color-hover: theme('colors.red');
  --button-color: theme('colors.red');
  --button-color-hover: theme('colors.white');
}

.button {
  @apply inline-block rounded-full w-max h-min overflow-hidden text-button cursor-pointer text-center select-none;
  @apply relative px-5 pb-3 pt-3.5;
  color: transparent;
  background-image: linear-gradient(
    to top,
    theme('colors.white') 0%,
    theme('colors.white') 50%,
    theme('colors.red') 50%,
    theme('colors.red') 100%
  );
  background-size: 100% 200%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-position theme('transitionDuration.clip')
    theme('transitionTimingFunction.clip');
  background-clip: text;
  -webkit-background-clip: text;

  &::before {
    content: '';
    @apply absolute inset-0 -z-1;
    transition: background theme('transitionDuration.clip')
      theme('transitionTimingFunction.clip');
    background-origin: border-box;
    background-image: linear-gradient(
      to bottom,
      var(--button-color) 0%,
      var(--button-color) 50%,
      var(--button-color-hover) 50%,
      var(--button-color-hover) 100%
    );
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: 0% 0%;
  }

  &:hover,
  button:hover &,
  &:focus-visible {
    background-position: 0 0;

    &::before {
      background-position: 0% 100%;
    }
  }

  &[disabled] {
    @apply ring-2 ring-red text-red bg-transparent before:hidden;
    background-image: none;
  }

  &--text {
    --underline-height: 2px;
    @apply underline-out cursor-pointer overflow-hidden text-button text-center select-none no-underline;
    text-decoration: none !important;
    text-decoration-line: none !important;
  }

  &-list {
    @apply flex flex-wrap gap-3;
  }
}
